/recommendations/recommendations_pb2.py
/recommendations/recommendations_pb2_grpc.py
/marketplace/recommendations_pb2.py
/marketplace/recommendations_pb2_grpc.py
marketplace
node_modules
.vscode/settings.json
ticket_management_service/
event_management_service/
