.main {
 
    background-color: #C3CAD9; 
    display: flex;
    flex-direction: row;

    justify-content: center;
    padding: 100px;
    gap: 100px;
    color: black;

}


.insidebox {
    height: 800px;
    width: 1000px;
    background-color: #F7F8FA;
    box-shadow: 0 4px 8px rgba(66, 65, 65, 0.3);

    text-align: center;
    padding: 30px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;	
}

table {
    width: 70%;
    border-collapse: collapse;

}
table, th, td {
    border: 1px solid #F7F8FA;
    padding: 2px;
    text-align: left;
    color: #333436;
}
th {
    background-color: #EE4136;
    color: white;
    text-align: center;

}


.buy_btn {
    margin-top: 20px;
    background-color: #00A198;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    font-size: xx-large;
}

 